.container {
	@include outer-container(1200px);
	width: 100%;
}
.findsomthing {
	background-color: $color_grey_alt;
	background-image: url('img/greydots.png');
}

.col-third {
	width: 33%;
	display: inline-block;
	float: left;
}

.col-full {
	display: block;
    width: 100%;
    clear: both;
}

.col-onethird {
	width: 30%;
	display: inline-block;
	float: left;
}

.col-twothird {
	width: 70%;
	display: inline-block;
	float: left;
}

.col-half {
	width: 50%;
	display: inline-block;
	float: left;
	padding: 0 5px;
}