/* Fontface
---------*/
@font-face {
    font-family: 'CoffeeService';
    src: url('fonts/CoffeeService/coffeeservice-webfont.eot');
    src: url('fonts/CoffeeService/coffeeservice-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CoffeeService/coffeeservice-webfont.woff2') format('woff2'),
         url('fonts/CoffeeService/coffeeservice-webfont.woff') format('woff'),
         url('fonts/CoffeeService/coffeeservice-webfont.ttf') format('truetype'),
         url('fonts/CoffeeService/coffeeservice-webfont.svg#coffee_serviceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Century731';
    src: url('fonts/Century731/tt0558m_-webfont.eot');
    src: url('fonts/Century731/tt0558m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Century731/tt0558m_-webfont.woff2') format('woff2'),
         url('fonts/Century731/tt0558m_-webfont.woff') format('woff'),
         url('fonts/Century731/tt0558m_-webfont.ttf') format('truetype'),
         url('fonts/Century731/tt0558m_-webfont.svg#century731_btroman') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Century731';
    src: url('fonts/Century731/tt0559m_-webfont.eot');
    src: url('fonts/Century731/tt0559m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Century731/tt0559m_-webfont.woff2') format('woff2'),
         url('fonts/Century731/tt0559m_-webfont.woff') format('woff'),
         url('fonts/Century731/tt0559m_-webfont.ttf') format('truetype'),
         url('fonts/Century731/tt0559m_-webfont.svg#century731_btitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'Century731';
    src: url('fonts/Century731/tt0560m_-webfont.eot');
    src: url('fonts/Century731/tt0560m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Century731/tt0560m_-webfont.woff2') format('woff2'),
         url('fonts/Century731/tt0560m_-webfont.woff') format('woff'),
         url('fonts/Century731/tt0560m_-webfont.ttf') format('truetype'),
         url('fonts/Century731/tt0560m_-webfont.svg#century731_btbold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Century731';
    src: url('fonts/Century731/tt0561m_-webfont.eot');
    src: url('fonts/Century731/tt0561m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Century731/tt0561m_-webfont.woff2') format('woff2'),
         url('fonts/Century731/tt0561m_-webfont.woff') format('woff'),
         url('fonts/Century731/tt0561m_-webfont.ttf') format('truetype'),
         url('fonts/Century731/tt0561m_-webfont.svg#century731_btbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
  font-family: 'CenturyGothicPro';
  src: url("fonts/CenturyGothic/CenturyGothicPro.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CenturyGothicPro-Italic';
  src: url("fonts/CenturyGothic/CenturyGothicPro.otf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'CenturyGothicPro';
  src: url("fonts/CenturyGothic/CenturyGothicPro-Bold.otf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'CenturyGothicPro';
  src: url("fonts/CenturyGothic/CenturyGothicPro-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";