.site-info {
	.ribbon {

		display: table;

		position: relative;
		color: #fff;
		text-align: center;
		padding: 8px 11px;
		//Adjust to suit
		
		margin: 0 auto 20px;
		//Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon  graphics take up 24px themselves so we double it.

		border: 2px solid;

		&:after, &:before {
			content: "";
			position: absolute;
			display: block;
			bottom: -10px;
			border: 28px solid;
			z-index: -1;
		}
		&:before {
			left: -35px;
			border-right-width: 45px;
			border-left-width: 6px;
			border-left-color: transparent !important;
		}
		&:after {
			right: -35px;
			border-left-width: 45px;
			border-right-width: 6px;
			border-right-color: transparent !important;
		}
		a {
			text-decoration: none;
			color: white;
		}
		.line-1 {
			@include coffeeservice();
			@include font-size(1.933);
			display: block;
			line-height: 1;
			text-align: center;
		}
		.line-2 {
			@include opensans();
			@include font-size(0.800);
			display: block;
			line-height: 1;
			font-style: italic;

		}
	}
	.non-semantic-protector { position: relative; z-index: 1; }
	.location {
		color: $color_white;
		padding-top: 35px;
		padding-bottom: 35px;
		.name {
			
			.graphic-container {
				position: relative;
				display: table;
			    margin: 0 auto;
			    padding-bottom: 20px;
			}
			.site-name {
				@include opensans();
				position: absolute;
				right: 0;
				bottom: 0;
				z-index: 9999;
				text-transform: uppercase;
				font-weight: 600;
			}
			
			// .alpha {
			// 	display: block;
			// 	width: 100%;
			// 	text-align: center;
			// 	font-size: 84px;
			// 	line-height: 1em;

			// }
			// .beta {
			// 	display: block;
			// 	width: 100%;
			// 	text-align: center;
			// 	font-size: 44px;
			// 	line-height: 1em;
			// }
		}
		.divider {
			height: 3px;
			width: 75%;
			margin: 10px auto 15px auto;
		}
		.reviews {
			text-align: center;
			.stars {
				span { 
					//display: none;
					&:before { 
						margin: 5px;
						font-size: 1.25em;
						font-family: FontAwesome;
						display: inline-block;
						content: "\f005";
					}
				} 
			}
			.link {
				@include opensans();
				text-decoration: underline;
			}
		}
		.address {
			@include opensans();
			@include font-size(0.900);
			text-align: center;
			text-transform: uppercase;
		}
	}
	.triangle.down {
		position: absolute;
    	z-index: 9999;
		border-left: solid transparent;
     	border-right: solid transparent;
     	border-top: solid;
	}
	.map {

	}
	.contact {
		padding-top: 15px;
		padding-bottom: 15px;
		color: $color_white;
		.phone {
			display: block;
			@include opensans();
			font-weight: bold;
			font-size: 30px;
			text-align: center;
			a {
				text-decoration: none;
				&:hover {
					color: inherit;
				}
			}
		}
		.hours {
			display: block;
			@include opensans();
			@include font-size(0.900);
			text-align: center;
			text-transform: uppercase;
		}
	}
}