.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.border-top {
    background: url("img/border-top.png");
    position: relative;
    top: -10px;
    height: 10px;
    width: 100%;
    z-index: 9999;
    background-repeat: repeat-y;
}

.border-bottom {
    background: url("img/border-bottom.png");
    position: relative;
    bottom: -12px;
    height: 10px;
    width: 100%;
    z-index: 9999;
    background-position-y: 10px;
    background-repeat: repeat-y;
}

.svg-border {
    fill: transparent;
}


.section-title {
    text-align: center;
    @include font-size(1.933);
    padding: 15px 15px 0;
    @include coffeeservice();
    &.no-padding {
        padding: 5px 15px 0;
    }
    &.large{
        font-size: 54px;
        line-height: 1;
    }
    &.xlarge{
        font-size: 66px;
        line-height: 1;
    }
    &.text-left {
        text-align: left;
    }
    &.text-right {
        text-align: right;
    }
    &.divider-top:before {
        content: "";
        border-top: 1px solid;
        display: block;
        position: relative;
        top: -15px;

    }
}

.so-widget-bargain-feature-widget {
    text-align: center;
    padding: 30px 30px 0 30px;
    .feature-widget-title {
        display: block;
        width: 100%;
        @include century731();
        @include font-size(1.25);
        border-bottom: 3px solid;
        text-transform: uppercase;
    }
    .feature-widget-text {
        padding: 0 10px;
    }
    .divider {
        background-color: #C9563D;
    }
    .image-wrap img {
        border-radius: 100%;
        border: 5px solid white;
        max-width: 250px;
        margin: 0 auto;
        display: block;
    }
}

.reviews-carousel{
    padding: 0 15px 35px 0;
    .review {
        padding: 0 15px;
        outline: none;
        @include font-size(0.800);
        .stars {
            position: relative;
            left: -6px;
            span { 
                color: #e7711b;
                //display: none;
                &:before { 
                    margin: 5px;
                    font-size: 1.25em;
                    font-family: FontAwesome;
                    display: inline-block;
                    content: "\f005";
                }
            } 
        }
        p {
            margin: 0px 0px 10px 0px;
        }
        img {
            border-radius: 100%;
            border: 5px solid white;
            max-width: 125px;
            margin: 0 auto;
            display: block;
        }
        .name {
            font-family: "OpenSans", sans-serif;
            font-weight: bold;
            @include font-size(0.700);
            text-align: right;
            display: block;
            text-transform: uppercase;
        }
        .date {
            font-family: "OpenSans", sans-serif;
            font-weight: bold;
            @include font-size(0.700);
            text-align: right;
            padding-left: 5px;
            display: block;
        }
        .source {
            font-family: "OpenSans", sans-serif;
            font-weight: bold;
            @include font-size(0.700);
            text-align: right;
            display: block;
        }   
    }
}

.vertical-gallery {
    .gallery-image {
        padding: 15px 15px 0 15px;
        outline: none;
    }
    .vert-prev {
        display: block;
        padding: 10px 0 15px;
        cursor: pointer;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        .triangle {
            display: block;
            margin: 0 auto;
            margin-top: 5px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 35px 20px 35px;
            border-color: transparent transparent transparent transparent;
        }
    }
    .vert-next {
        display: block;
        padding: 10px 0 15px;
        cursor: pointer;
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
        .triangle {
            display: block;
            margin: 0 auto;
            margin-top: 5px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 35px 0 35px;
            border-color: transparent transparent transparent transparent;
        }
    }
}