// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 15) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin coffeeservice() {
	font-family: "CoffeeService", TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
}

@mixin century731() {
	font-family: "Century731", TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
}

@mixin centurygothic() {
	font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
}

@mixin opensans() {
	font-family: 'Open Sans', sans-serif;
}

.coffee-service {
  @include coffeeservice();
}
.century731 {
  @include century731();
}
.CenturyGothicPro {
  @include centurygothic();
}
.opensans {
  @include opensans();
}