.site-footer {
	margin-top: 60px;
	position: relative;
	.logo {
	    margin: 0 auto;
	    display: table;
	    position: relative;
        margin-top: -35px;
	    z-index: 9999;
	}
	.copyright {
		text-align: center;
		@include opensans;
		margin-bottom: 15px;
	}
	.left {
		color: white;
		position: absolute;
		left: 6%;
		top: 20%;
		.alpha {
			display: inline-block;
			float: left;
			margin-right: 8px;
		}
		.beta {
			display: inline-block;
			float: right;
		}
	}
	.right {
		color: white;
		position: absolute;
		right: 6%;
		top: 20%;
		.alpha {
			display: inline-block;
			float: left;
			margin-right: 8px;
		}
		.beta {
			display: inline-block;
			float: right;
		}
	}
	.social {
	    margin: 0 auto;
	    margin-bottom: 10px;
	    display: table;
	    a {
	    	margin: 5px;
	    }
	    .fa {
            background-color: #fff;
    		color: #282629;
	        border-radius: 50%;
	        padding: 0.3em 0.4em;
	        min-width: 1.65em;
	    }
	    .fa-facebook {
	        padding-left: 0.5em;
	    }
	}
	.text {
		display: table;
		max-width: 140px;
		text-align: center;
		margin-bottom: 5px;
	}
	.button {
		color: #fff;
		text-align: center;
		padding: 2px 6px;
		margin: 0 auto;
		display: table;
		@include opensans();
		font-weight: 700;
		text-decoration: none;
	}
	@media screen and (max-width: 1099px){
		.right, .left {
			img {
				display: none;
			}
		}
	}
}
