html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	@include century731();
	    -webkit-font-smoothing: antialiased;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

a {
    color: inherit;
}


@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
p {
	letter-spacing: -0.005rem;
	span {
		display: inline-block;
	}
}


@import "tables";

.siteorigin-widget-tinymce {
	padding: 0 15px;
	overflow: auto;
}

.hidden {
	display: none;
}



@media screen and (max-width: 768px) {
	.hidden-mobile {
		display: none;
	}
	.match.mobile-graphic {
		min-height: 250px !important;
	}
}

.officehours {
	display: block;
}

/* MAP */
#wpsl-wrap {
    background-color: #F4F3F3;
}

#wpsl-wrap, .wpsl-gmap-canvas {
	margin-bottom: 0;
}

@media screen and (min-width: 676px){
	#wpsl-gmap {
	    width: 67.6%;
	}
}

#wpsl-gmap img, .wpsl-gmap-canvas img {
	float: right;
}

.wpsl-input label, #wpsl-radius label, #wpsl-category label {
	width: auto !important;
}

#wpsl-search-wrap div label {
	line-height: 40px;
}

#wpsl-search-btn {
	padding: 10px;
	background-image: none;
	background-color: #63A7B6;
	border: none;
	color: #ffffff;
	box-shadow: none;
	text-shadow: none;
	&:hover {
		background-color: darken(#63A7B6, 10%);
	}
}

/* buttons */
.so-widget-sow-button .ow-button-base a {
	background-image: none;
	background-color: #63A7B6;
	border: none;
	color: #ffffff;
	box-shadow: none;
	text-shadow: none;
	&.ow-button-hover:hover {
		background-color: darken(#63A7B6, 10%);
		background-image: none;
		border: none;
		color: #ffffff;
		box-shadow: none;
		text-shadow: none;
	}
}