ul, ol {
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: .5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
ul li:before {
	position: absolute;
    left: -15px;
    content: "\2022";
    margin-right: 5px;

}
ul li ul li:before {
	position: absolute;
    left: -15px;
    content: "\2022";
    margin-right: 5px;
}
li {
	position: relative;
}

.slick-dots li:before {
	content: none;
}

.menu li:before {
	content: none;
}