.site-header {
	background-color: $color_teal;
	.site-branding {
		display: table;
		width: 100%;
		padding: 30px 15px;
		.pay-icon {
			img {
				display: block;
				margin: 0 auto;
			}
			.text {
				@include font-size(0.650);
				padding-top: 10px;
				@include opensans();
				display: block;
				margin: 0 auto;
				text-align: center;
			}
		}
		.call-icon {
			img {
				display: block;
				margin: 0 auto;
			}
			.text {
				@include font-size(0.650);
				padding-top: 10px;
				@include opensans();
				display: block;
				margin: 0 auto;
				text-align: center;
			}
		}
		.logo {
			padding: 0 15px;
			border-left: 1px solid $color_black;
			border-right: 1px solid $color_black;
			max-height: 90px;
			a {
				position: relative;
			}
			.site-name {
				@include opensans();
				position: absolute;
				right: 0;
				bottom: 0;
				z-index: 9999;
				text-transform: uppercase;
				font-weight: 600;
			}
		}
	}

	.main-navigation {
	}

}
.mobile-header {
	background-color: $color_teal;
	
	.site-branding {
		padding: 10px 0;	
	}
	.logo-container {
	position: relative;	
	}
	.logo {
		max-width: 100%;
		img {
			max-height: 90px;

		}
	}
	a {
		display: table;
		margin: 0 auto;
		position: relative;
	}
	.site-name {
		@include opensans();
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 9999;
		text-transform: uppercase;
		font-weight: 600;
	}
	.toggle-panel {
			position: absolute;
			top: 15%;
		    font-size: 2.5rem;
		    right: 15px;
		  
	}
}
@media only screen and (max-width : 500px) {
	.mobile-header {
		.logo {
			max-width: 250px;
			padding-left: 15px;
		}
		.site-name {
			font-size: .8rem;
		}
		.toggle-panel {
			top: 0%;
		}
	}
}


//#panel-example {display: none;}
.toggle-panel { display: none; }
.site-header { display: block; }
.mobile-header { display: none; }

@media only screen and (max-width : 768px) {
    .toggle-panel { display: block; }
    .site-header { display: none; }
    .mobile-header { display: block; }
}