.menu-primary-menu-container {
    margin: 0 auto;
    display: table;
    padding: 5px 0;
}


.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	@include opensans();
	text-transform: uppercase;
	@include font-size(1.375);
	background-color: $color_black;
	ul {
		display: none;
		list-style: none;
		margin: 0 auto;
		padding-left: 0;
		
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: $color_white;
		padding: 5px 15px;
	}
	a:hover {
		color: darken($color_white, 25%);
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.mobile-navigation {
	.menu {
		padding: 0 25px;
		margin: 0;
		li {
		    &:not(:first-child) {
		    	border-top: 1px dashed white;
		    }
		    a {
		    	letter-spacing: 1px;
		    	padding: 1rem;
		    	font-size: 1.75rem;
		    	@include opensans();
		    	font-weight: 800;
		    	text-decoration: none;
				text-align: center;
				display: block;
				width: 100%;
				padding: 25px 15px;
		    }
		}
	}
}
@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: table;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
