.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.page-template-default .site-content, 
.single .site-content, 
.archive .site-content,
.search .site-content,
.author .site-content,
.error404 .site-content {
}